* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Sofia-Pro";
  src: url('/assets/fonts/SofiaProSemiBoldAz.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF;
}

body {
  font-family: "Inter", "Sofia-Pro", sans-serif;
}
.mobile_view{
    display: none;
}
html, body{
      overflow-x:hidden;
}

/* globel used components css */
.phoneInquiries{
    background-color: #ECF5FF;
}
.phoneInquiries .left .title{
    color: #0F172A;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18.93px;
    line-height: 30.29px;
}
.phoneInquiries .left .phNo{
    color: #2384C1;
    font-size: 37.836px;
    font-weight: 700;
    line-height: 53.01px;
    font-family: 'Inter';
}
.phoneInquiries .left .text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22.72px;
    line-height: 30.29px;
    color: #0F172A;
}
.phoneInquiries .left .caption{
    font-size: 22.72px;
    font-weight: 600;
    font-family: 'Inter';
    line-height: 30.29px;
    color: #2F2F2F;
}
.phoneInquiries .right .title{
    color: #0F172A;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18.93px;
    line-height: 30.29px;
}
.phoneInquiries .right .quickResponse{
    color: #2384C1;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16.91px;
    line-height: 27.06px;
}
.phoneInquiries .right .btn-storeReserve{
    background-color: #2384C1;
    color: #fff;
    border-radius: 6.77px;
    width: 368.7px;
    height: 44.53px;
}
.phoneInquiries .right .btn-storeMoney{
    background-color: transparent;
    color: #2384C1;
    border: 1px solid #2384C1;
    border-radius: 6.77px;
    width: 368.7px;
    height: 44.53px;
}
.phoneInquiries .right .btn-storeMoney1{
    background-color: transparent;
    color: #2384C1;
    border: 1px solid #2384C1;
    border-radius: 6.77px;
    width: 215.83px;
    height: 44.53px;
}
.phoneInquiries .right .btn-storeMoney2{
    background-color: transparent;
    color: #2384C1;
    border: 1px solid #2384C1;
    border-radius: 6.77px;
    width: 139.35px;
    height: 44.53px;
}
.purchasePlan .purchasePlanDetail .headArea .left{
    font-family: 'Sofia-pro';
    color: #020408;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.purchasePlan .purchasePlanDetail .headArea .right{
    color: #020408;
    font-family: 'Sofia-pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
}
.purchasePlan .purchasePlanDetail .table .lefthead{
    background-color: #EAECF0;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}
.purchasePlan .purchasePlanDetail .table .righthead{
    background-color: #EAECF0;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}
.purchasePlan .purchasePlanDetail .table .left{
    background-color: #EAECF0;
    font-size: 12px;
    font-weight: 500;
    color: #0F172A;
    line-height: 18px;
}
.purchasePlan .purchasePlanDetail .table .right{
    font-size: 12px;
    font-weight: 500;
    color: #0F172A;
    line-height: 18px;
}
.purchasePlan .purchasePlanDetail .table .right .digit{
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 700;
    color: #0F172A;
    line-height: 36px;
}
.purchasePlan .purchasePlanDetail .table .right .digit2{
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 700;
    color: #0F172A;
    line-height: 36px;
}
.purchasePlan .purchasePlanDetail .table .row-end-table{
    vertical-align: middle;
}

.state_condition .state .headArea .left{
    font-family: 'Sofia-pro';
    color: #020408;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.state_condition .state .headArea .right{
    color: #020408;
    font-family: 'Sofia-pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
}
.state_condition .state .table .left {
    background-color: #EAECF0;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    width: 137px;
    height: 56px;
    vertical-align: middle;
}
.state_condition .state .table .right {
    color: #0F172A;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    width: 137px;
    height: 56px;
    vertical-align: middle;
}

.carPickSection .titleCars p{
    color: #020408;
    font-family: 'Sofia-pro';
    font-weight: 600;
    font-size: 20.21px;
    line-height: 24.27px;
}
.carPickSection .hoverShadow:hover {
    background: #F6F6F6;
    border-radius: 12px;
    cursor: pointer;
}
.carPickSection .left .bottom-car .left {
    background-color: #FF4B44;
    color: white;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter';
    line-height: 16px;
    padding: 4px 10px;
}
.carPickSection .left .bottom-car .right {
    color: #0C1529;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter';
    line-height: 16px;
}
.carPickSection .left .bottom-car-title p {
    color: #1E293B;
    font-size: 13.5px;
    font-weight: 600;
    font-family: 'Inter';
    line-height: 20px;
}
.carPickSection .left .bottom-car-details .left {
    color: #0C1529;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inter';
    line-height: 16px;
}
.carPickSection .left .bottom-car-details .right {
    color: #0C1529;
    font-size: 14.8px;
    font-weight: 700;
    font-family: 'Inter';
    line-height: 23.12px;
}
.carPickSection .left .bottom-car-details .sub {
    color: #1E293B;
    font-size: 10.57px;
    font-weight: 500;
    font-family: 'Inter';
    line-height: 19.27px;
}
.carPickSection .left .bottom-car-details .right-pan {
    color: #1E293B;
    font-size: 12.69px;
    font-weight: 500;
    font-family: 'Inter';
    line-height: 19.03px;
}
.carPickSection .textLink p {
    font-size: 12.69px;
    color: #2F2F2F;
    font-family: 'Inter';
    font-weight: 600;
    line-height: 16.96px;
    text-decoration: underline;
    cursor: pointer;
}

.customerReviewDetails .reviewSec .title{
    color: #020408;
    font-family: 'Sofia-Pro';
    font-size: 24px;
    font-weight: 600;
    line-height: 28.82px;
}
.customerReviewDetails .reviewLeft .top .textArea {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Inter';
    color: #0C1529;
}
.customerReviewDetails .reviewLeft .top .author {
    color: #475569;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Inter';
    line-height: 18px;
}
.customerReviewDetails .reviewLeft .titleMain p:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}
.customerReviewDetails .reviewLeft .titleMain {
    color: #2384C1;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter';
    line-height: 20px;
}
.customerReviewDetails .reviewLeft .para {
    color: #1E293B;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Inter';
    line-height: 18px;
}
.customerReviewDetails .reviewLeft .bottom {
    color: #1E293B;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Inter';
    line-height: 18px;
}
.customerReviewDetails .textLink p {
    font-size: 12.69px;
    color: #2F2F2F;
    font-family: 'Inter';
    font-weight: 600;
    line-height: 16.96px;
    text-decoration: underline;
    cursor: pointer;
}

#toggleView[aria-expanded="true"] {
    display: none !important;
  }
  #toggleViewLess2 .img-rotate{
    transform: rotate(180deg);
  }
#toggleViewLess2 p{
    color: #0E354D;
    font-size: 11.97px;
    font-weight: 500;
    line-height: 13px;
}
#toggleViewLess2 .btn-clear {
    border: 1px solid #2384C1;
    color: #2384C1;
    font-size: 11.97px;
    font-weight: 500;
    font-family: 'Inter';
    line-height: 13px;
    width: 130px;
    height: 36px;
}
#toggleViewLess2 .btn-searchFor {
    background-color: #2384C1;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Inter';
    line-height: 13px;
    width: 182px;
    height: 36px;
}
.view-text .vehicleCondition{
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
.view-text .form-check .form-check-input{
    height: 20px;
    width: 20px;
    border-radius: 0px;
    border: 1.67px solid #CBCBCB;
}
.view-text .form-check .form-check-label{
    color: #1E293B;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.view-text .typesOfCar .title{
    color: #141817;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.view-text .typesOfCar .table td{
    background-color: transparent;
    border: none;
    padding: 6px 0px;
}
.form-check-input:checked[type=checkbox] {
    background-image: url(/assets/images/mobile/header/tick.webp)
}


@media (min-width: 1200px) {
    .container {
        max-width: 960px !important;
    }
}

@media(max-width: 992px){
    .mobile_view {
        display: none;
    }
    .desktop_view {
        display: block;
    }
    .container{
        max-width:960px !important;
    }
}

@media (max-width: 991px) {
    .desktop-view {
        display: none;
    }
    .mobile_view {
        display: block;
    }
    
}
/* ============== End Slider Section Css ============== */